.site-header {
	padding: 26px 0 0;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__wrapper {
	width: 100%;
	max-width: 900px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	& ~ img {
		display: none;
	}
}

.link__wrapper {
	padding-right: 23px;
	a {
		display: flex;
		align-items: center;
		gap: 15px;
		strong {
			font-weight: 500;
			font-size: 25px;
			line-height: 33px;
			color: #000000;
		}
	}
}

.header {
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		a {
			padding-bottom: 10px;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			text-transform: uppercase;
			color: #9a9a9a;
		}
	}
}

.active {
	padding-bottom: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #3d3d3d;
	border-bottom: 2px solid #777777;
}

form {
	display: flex;
	align-items: center;
	input {
		padding: 12px 0 12px 14px;
		background: #f4f4f4;
		border-radius: 3px;
		border: none;
		&::placeholder {
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #474747;
		}
	}
	button {
		max-width: 40px;
		max-height: 40px;
		padding: 10px;
		background: #ffba9d;
		border-radius: 3px;
		border: none;
	}
}
.none,
.block,
.mobile-input {
	display: none !important;
}

@media only screen and (max-width: 950px) {
	.header ul {
		gap: 10px;
	}
}
@media only screen and (max-width: 850px) {
	.header {
		position: relative;
		.nav__wrapper {
			display: none;
			& ~ img {
				display: block;
				z-index: 1;
			}
		}
	}
	.block {
		padding-top: 128px;
		height: 80vh;
		width: 100%;
		display: flex !important;
		justify-content: flex-start !important;
		flex-direction: column;
		position: absolute;
		top: 65px;
		background: white;
	}
	.header ul {
		gap: 50px;
		a {
			font-weight: 400;
			font-size: 20px;
			line-height: 26px;
			text-transform: uppercase;

			color: #9a9a9a;
		}
	}
	.none {
		display: none !important;
	}
	.mobile-input {
		padding-top: 26px;
		display: flex !important;
		width: 100%;
		input {
			width: 100%;
		}
	}
}
@media only screen and (max-width: 950px) {
}
